* {
  transition-duration: 400ms;
}

.weatherIcon {
  width: 15vh;
  height: 12vh;
  margin-top: 3vh;
  margin-left: 10vh;
  cursor: pointer;
}

.cf {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 26px;
  width: 9vh;
  height: 3.55vh;
  margin-top: -85vh;
  margin-left: 101.5vh;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(0.5692583918571472px);
  box-shadow: 0.5vh 0.5vh 2vh rgba(61, 61, 61, 0.111);
  cursor: pointer;
}

.c {
  font-size: 1.75rem;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

.f {
  font-size: 1.75rem;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

.changeTemp {
  position: relative;
  top: -3.7vh;
  left: 101.5vh;
  width: 4.5vh;
  height: 3.8vh;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(0.5692583918571472px);
  cursor: pointer;
  transition-duration: 800ms;
}

.temperature {
  margin-left: 7.5vh;
  color: #fff;
  font-size: 10rem;
  font-style: normal;
  font-weight: 100;
  line-height: 120%;
  text-shadow: -4px 2px 4px rgba(61, 61, 61, 0.553);
  cursor: default;
}

.cel {
  color: white;
  position: relative;
  top: -20vh;
  left: 27vh;
  font-size: 2rem;
  text-shadow: -4px 2px 2.5px rgba(29, 27, 27, 0.475);
  transition-duration: 300ms;
  cursor: default;
}

.data {
  margin-left: 8.5vh;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  width: 28vh;
  flex-direction: row;
  gap: 1vh;
  cursor: default;
}

.th {
  position: relative;
  font-size: 1.25rem;
  margin-left: -1vh;
  cursor: default;
}

.time {
  margin-top: 5vh;
  margin-left: 9vh;
  display: flex;
  color: #fff;
  width: 25vh;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: default;
}

.params {
  display: flex;
  justify-content: space-between;
  width: 47vh;
  margin-top: 5vh;
  margin-left: 9.3vh;
  color: #fff;
  text-shadow: -1.3983862400054932px 2.09757924079895px 0.6991931200027466px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  cursor: default;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
  margin-left: 5vh;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3vh;
  width: 13vh;
  height: 23vh;
  border-radius: 11.385px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(0.5692583918571472px);
  box-shadow: 2px 2px 8px rgba(61, 61, 61, 0.111);
  cursor: pointer;
}

.cardTemp {
  display: flex;
  align-items: end;
  margin-bottom: 2vh;
  color: #fff;
  text-align: center;
  text-shadow: -1.1385167837142944px 1.7077752351760864px 0.5692583918571472px 0px rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 1.5rem;
}

.cardImg {
  width: 10vh;
  height: 6vh;
}

.cardTime {
  justify-self: center;
  align-self: center;
  color: #fff;
  text-align: center;
  text-shadow: -1.1385167837142944px 1.7077752351760864px 0.5692583918571472px 0px rgba(0, 0, 0, 0.1);
  font-family: Overpass;
  font-size: 1.5rem;
}

.prev {
  color: rgb(255, 255, 255);
  font-size: 7vh;
  margin-top: 11vh;
  cursor: pointer;
}

.next {
  color: wheat;
  font-size: 7vh;
  margin-top: 11vh;
  cursor: pointer;
}

.selectCity {
  margin-top: -8vh;
  margin-left: 112.5vh;
  width: 12vh;
  height: 4.5vh;
  background-color: rgba(98, 98, 98, 0.6);
  color: rgba(255, 75, 75, 0.651);
  cursor: pointer;
  display: none;
}

.selectCityInfo {
  font-size: 1.25rem;
}
